@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');
@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
* {

	text-decoration: none;
	list-style: none;
	margin: 0;
	padding: 0;
	font-family: "Muli";

}

a,h1,h2,h3,h4,h5,h6,label{

	color: white;

}

.navbar{

	background-color: #2E2E2E ;
	width: 100%;
	height: 100%;

}

ul{

	align-content: center;
	display: flex;
	float: center;
	align-items: center;
	justify-content: center;


}

li{

	margin: 10px;
	align-self: center;
	padding: 10px;
	display: inline-block;
	display:inline-block;
    *display:inline;
}

li:hover{

	transition-duration: 0.125s;
	background-color: #434343;
	border-radius: 10px;

}

.title{

	color: white;
	justify-content: left;
	align-items: flex-start;

}

.header{

	background-image: linear-gradient(rgba(255,255,255,0.25), rgba(0,0,0,0.25)),url("img/background.png");
	background-repeat: no-repeat;
	background-size: 100%;
	background-color: black;
	color: white;

	width: 100%;
	height: 75%;

	justify-content: center;
	align-content: center;

	position: absolute;
	display: block;
}

.title-header{

	padding-top: 250px;
	align-items: center;
	color: rgba(255, 255, 255, 1);

}

body{

	background-color: black;
	

}

h2{


	font-size: 50px;

}
.jouer{

	color: white;
	padding-top: 700px;
	padding-bottom: 75px;

}

.redirectDownload{

	margin: auto;
	justify-items: center;
	align-items: center;
	margin-left: auto;
	margin-right: auto;
	display: block;

	background-color: #CB7E00;
	border: solid #CB7E00 ;
	width: 250px ;
	height: 65px;
	border-radius: 15px;
	justify-content: center;
	align-content: center;
	text-align: center;
	font-size: 24px;

}

.redirectDownload:hover{

	transition-duration: 0.125s;
	border-radius: 25px;
	background-color: #EA9100;
	border: solid #EA9100 ;

}

.articles{

	color: white;
	border-radius: 10px;
	background-color: #2E2E2E ;
	width: 50%;
	height: 25%;
	text-align: justify;
	padding: 20px;
	margin: 10px;

}

hr{

	color: white;
	width: 700px;
	margin: auto;
	padding: auto;

}

.artR{

	border-radius: 10px;
	background-color: #2E2E2E ;
	width: 50%;
	height: 25%;
	text-align: justify;
	padding: 20px;
	margin: 10px;

}

.conteneurDArticles{

	display: flex;

}

.miseArtR{

	margin-left: auto;
	margin-right: 0;

}

.face{

	flex: 5;

}

.face:first-child {
    margin-right: 500px;
} 